.vscode
doc/*
*.o
mqttexp
build-src-Desktop*
src/ui_connectserver.h
src/src.pro.user*
src/ui_mainwindow.h
src/moc_predefs.h
src/moc_mainwindow.cpp
src/moc_connectserver.cpp
src/Makefile
src/mainwindow.ui.autosave
src/mainwindow.ui
src/ui_topichistory.h
src/moc_topichistory.cpp
src/ui_showbinarydata.h
src/moc_showbinarydata.cpp
src/moc_newtopic.cpp
src/ui_newtopic.h
src/ui_fulltextwindow.h
src/moc_fulltextwindow.cpp
